# String Casing

In [4]:
import pandas as pd

In [12]:
data = pd.read_csv("sample.csv")
data.head()

,Timestamp,Polarity,Message
0,26/07/2021 14:20:57,Negative,"My experience in online class, so far it was a..."
1,26/07/2021 14:34:07,Negative,"My online enrollmet experience was not easy, b..."
2,26/07/2021 15:43:26,Negative,My online enrollment experience was slightly h...
3,26/07/2021 16:09:39,Negative,This question seems vague to me. Online enroll...
4,26/07/2021 23:12:21,Negative,Not easy to find a connection to answer the qu...

In [14]:
data.shape

(2246, 3)

In [15]:
data

,Timestamp,Polarity,Message
0,26/07/2021 14:20:57,Negative,"My experience in online class, so far it was a..."
1,26/07/2021 14:34:07,Negative,"My online enrollmet experience was not easy, b..."
2,26/07/2021 15:43:26,Negative,My online enrollment experience was slightly h...
3,26/07/2021 16:09:39,Negative,This question seems vague to me. Online enroll...
4,26/07/2021 23:12:21,Negative,Not easy to find a connection to answer the qu...
...,...,...,...
2241,29/07/2021 22:46:10,Positive,It can helps us to study more to understand ou...
2242,30/07/2021 15:16:13,Positive,It was okay
2243,1/8/2021 14:30,Positive,Teachers in google class are approachable so I...
2244,29/07/2021 08:11:49,Positive,The online class is help to us not exposed in ...
2245,29/07/2021 16:56:30,Positive,So hard but amazing

In [20]:
data["Timestamp"]

0       26/07/2021 14:20:57
1       26/07/2021 14:34:07
2       26/07/2021 15:43:26
3       26/07/2021 16:09:39
4       26/07/2021 23:12:21
               ...
2241    29/07/2021 22:46:10
2242    30/07/2021 15:16:13
2243         1/8/2021 14:30
2244    29/07/2021 08:11:49
2245    29/07/2021 16:56:30
Name: Timestamp, Length: 2246, dtype: object

In [21]:
y = "   hello "
y

'   hello '

In [22]:
y.rstrip()

'   hello'

In [24]:
y.lstrip()

'hello '

In [25]:
y.strip()

'hello'

In [ ]:
data["Message"].str.lstrip()

In [ ]:
data["Message"].str.rstrip()

In [26]:
data["Message"].str.strip()

0       My experience in online class, so far it was a...
1       My online enrollmet experience was not easy, b...
2       My online enrollment experience was slightly h...
3       This question seems vague to me. Online enroll...
4       Not easy to find a connection to answer the qu...
                              ...
2241    It can helps us to study more to understand ou...
2242                                          It was okay
2243    Teachers in google class are approachable so I...
2244    The online class is help to us not exposed in ...
2245                                  So hard but amazing
Name: Message, Length: 2246, dtype: object

In [33]:
data["UpperMessage"] = data["Message"].str.upper()
data["UpperMessage"]

0       MY EXPERIENCE IN ONLINE CLASS, SO FAR IT WAS A...
1       MY ONLINE ENROLLMET EXPERIENCE WAS NOT EASY, B...
2       MY ONLINE ENROLLMENT EXPERIENCE WAS SLIGHTLY H...
3       THIS QUESTION SEEMS VAGUE TO ME. ONLINE ENROLL...
4       NOT EASY TO FIND A CONNECTION TO ANSWER THE QU...
                              ...
2241    IT CAN HELPS US TO STUDY MORE TO UNDERSTAND OU...
2242                                          IT WAS OKAY
2243    TEACHERS IN GOOGLE CLASS ARE APPROACHABLE SO I...
2244    THE ONLINE CLASS IS HELP TO US NOT EXPOSED IN ...
2245                                  SO HARD BUT AMAZING
Name: UpperMessage, Length: 2246, dtype: object

In [34]:
data

,Timestamp,Polarity,Message,StripMessage,UpperMessage
0,26/07/2021 14:20:57,Negative,"My experience in online class, so far it was a...","My experience in online class, so far it was a...","MY EXPERIENCE IN ONLINE CLASS, SO FAR IT WAS A..."
1,26/07/2021 14:34:07,Negative,"My online enrollmet experience was not easy, b...","My online enrollmet experience was not easy, b...","MY ONLINE ENROLLMET EXPERIENCE WAS NOT EASY, B..."
2,26/07/2021 15:43:26,Negative,My online enrollment experience was slightly h...,My online enrollment experience was slightly h...,MY ONLINE ENROLLMENT EXPERIENCE WAS SLIGHTLY H...
3,26/07/2021 16:09:39,Negative,This question seems vague to me. Online enroll...,This question seems vague to me. Online enroll...,THIS QUESTION SEEMS VAGUE TO ME. ONLINE ENROLL...
4,26/07/2021 23:12:21,Negative,Not easy to find a connection to answer the qu...,Not easy to find a connection to answer the qu...,NOT EASY TO FIND A CONNECTION TO ANSWER THE QU...
...,...,...,...,...,...
2241,29/07/2021 22:46:10,Positive,It can helps us to study more to understand ou...,It can helps us to study more to understand ou...,IT CAN HELPS US TO STUDY MORE TO UNDERSTAND OU...
2242,30/07/2021 15:16:13,Positive,It was okay,It was okay,IT WAS OKAY
2243,1/8/2021 14:30,Positive,Teachers in google class are approachable so I...,Teachers in google class are approachable so I...,TEACHERS IN GOOGLE CLASS ARE APPROACHABLE SO I...
2244,29/07/2021 08:11:49,Positive,The online class is help to us not exposed in ...,The online class is help to us not exposed in ...,THE ONLINE CLASS IS HELP TO US NOT EXPOSED IN ...
2245,29/07/2021 16:56:30,Positive,So hard but amazing,So hard but amazing,SO HARD BUT AMAZING

In [ ]:
for column in data.columns:
    data[column] = data[column].str.strip()

In [ ]:
data.info()

In [31]:
data['Message'].str.lower()

0       my experience in online class, so far it was a...
1       my online enrollmet experience was not easy, b...
2       my online enrollment experience was slightly h...
3       this question seems vague to me. online enroll...
4       not easy to find a connection to answer the qu...
                              ...
2241    it can helps us to study more to understand ou...
2242                                          it was okay
2243    teachers in google class are approachable so i...
2244    the online class is help to us not exposed in ...
2245                                  so hard but amazing
Name: Message, Length: 2246, dtype: object

In [32]:
data['Message'].str.upper()

0       MY EXPERIENCE IN ONLINE CLASS, SO FAR IT WAS A...
1       MY ONLINE ENROLLMET EXPERIENCE WAS NOT EASY, B...
2       MY ONLINE ENROLLMENT EXPERIENCE WAS SLIGHTLY H...
3       THIS QUESTION SEEMS VAGUE TO ME. ONLINE ENROLL...
4       NOT EASY TO FIND A CONNECTION TO ANSWER THE QU...
                              ...
2241    IT CAN HELPS US TO STUDY MORE TO UNDERSTAND OU...
2242                                          IT WAS OKAY
2243    TEACHERS IN GOOGLE CLASS ARE APPROACHABLE SO I...
2244    THE ONLINE CLASS IS HELP TO US NOT EXPOSED IN ...
2245                                  SO HARD BUT AMAZING
Name: Message, Length: 2246, dtype: object

In [ ]:
data['Message'].str.capitalize()

In [ ]:
data['Message'].str.title()

In [ ]:
data.head()

In [36]:
data.shape

(2246, 5)

In [35]:
len(data)

2246

In [37]:
data

,Timestamp,Polarity,Message,StripMessage,UpperMessage
0,26/07/2021 14:20:57,Negative,"My experience in online class, so far it was a...","My experience in online class, so far it was a...","MY EXPERIENCE IN ONLINE CLASS, SO FAR IT WAS A..."
1,26/07/2021 14:34:07,Negative,"My online enrollmet experience was not easy, b...","My online enrollmet experience was not easy, b...","MY ONLINE ENROLLMET EXPERIENCE WAS NOT EASY, B..."
2,26/07/2021 15:43:26,Negative,My online enrollment experience was slightly h...,My online enrollment experience was slightly h...,MY ONLINE ENROLLMENT EXPERIENCE WAS SLIGHTLY H...
3,26/07/2021 16:09:39,Negative,This question seems vague to me. Online enroll...,This question seems vague to me. Online enroll...,THIS QUESTION SEEMS VAGUE TO ME. ONLINE ENROLL...
4,26/07/2021 23:12:21,Negative,Not easy to find a connection to answer the qu...,Not easy to find a connection to answer the qu...,NOT EASY TO FIND A CONNECTION TO ANSWER THE QU...
...,...,...,...,...,...
2241,29/07/2021 22:46:10,Positive,It can helps us to study more to understand ou...,It can helps us to study more to understand ou...,IT CAN HELPS US TO STUDY MORE TO UNDERSTAND OU...
2242,30/07/2021 15:16:13,Positive,It was okay,It was okay,IT WAS OKAY
2243,1/8/2021 14:30,Positive,Teachers in google class are approachable so I...,Teachers in google class are approachable so I...,TEACHERS IN GOOGLE CLASS ARE APPROACHABLE SO I...
2244,29/07/2021 08:11:49,Positive,The online class is help to us not exposed in ...,The online class is help to us not exposed in ...,THE ONLINE CLASS IS HELP TO US NOT EXPOSED IN ...
2245,29/07/2021 16:56:30,Positive,So hard but amazing,So hard but amazing,SO HARD BUT AMAZING

In [38]:
data['Polarity'].value_counts()

Positive    1397
Negative     849
Name: Polarity, dtype: int64

In [ ]:
data['Polarity'].value_counts(dropna=True)

In [ ]:
data.dropna(subset = ["Polarity"], inplace = True)

In [ ]:
data.replace(
    to_replace = "All",
    value = "Unknown Polarity",
    inplace = True

)

In [ ]:
data['Polarity'].value_counts(dropna=True)

In [ ]:
data["Message"].head()

In [ ]:
data["Message"].str.slice(0,1)

In [ ]:
"Welcome"[5:]

In [ ]:
"Welcome"[5:-1]

# Boolean Methods

In [42]:
"pizza" in "Jet's Pizza".lower()

True

In [43]:
"Tuna" in "Jet's Pizza"

False

In [44]:
data

,Timestamp,Polarity,Message,StripMessage,UpperMessage
0,26/07/2021 14:20:57,Negative,"My experience in online class, so far it was a...","My experience in online class, so far it was a...","MY EXPERIENCE IN ONLINE CLASS, SO FAR IT WAS A..."
1,26/07/2021 14:34:07,Negative,"My online enrollmet experience was not easy, b...","My online enrollmet experience was not easy, b...","MY ONLINE ENROLLMET EXPERIENCE WAS NOT EASY, B..."
2,26/07/2021 15:43:26,Negative,My online enrollment experience was slightly h...,My online enrollment experience was slightly h...,MY ONLINE ENROLLMENT EXPERIENCE WAS SLIGHTLY H...
3,26/07/2021 16:09:39,Negative,This question seems vague to me. Online enroll...,This question seems vague to me. Online enroll...,THIS QUESTION SEEMS VAGUE TO ME. ONLINE ENROLL...
4,26/07/2021 23:12:21,Negative,Not easy to find a connection to answer the qu...,Not easy to find a connection to answer the qu...,NOT EASY TO FIND A CONNECTION TO ANSWER THE QU...
...,...,...,...,...,...
2241,29/07/2021 22:46:10,Positive,It can helps us to study more to understand ou...,It can helps us to study more to understand ou...,IT CAN HELPS US TO STUDY MORE TO UNDERSTAND OU...
2242,30/07/2021 15:16:13,Positive,It was okay,It was okay,IT WAS OKAY
2243,1/8/2021 14:30,Positive,Teachers in google class are approachable so I...,Teachers in google class are approachable so I...,TEACHERS IN GOOGLE CLASS ARE APPROACHABLE SO I...
2244,29/07/2021 08:11:49,Positive,The online class is help to us not exposed in ...,The online class is help to us not exposed in ...,THE ONLINE CLASS IS HELP TO US NOT EXPOSED IN ...
2245,29/07/2021 16:56:30,Positive,So hard but amazing,So hard but amazing,SO HARD BUT AMAZING

In [45]:
from collections import Counter
has_online = Counter(data["Message"].str.lower().str.contains("online"))

print(has_online)
print("False =",has_online[0] )
print("True =",has_online[1] )


has_online[1]  / 1

Counter({False: 1569, True: 677})
False = 1569
True = 677

677.0

In [46]:

print(has_online[data.Polarity=="Positive"].value_counts().keys().tolist())
print(has_online[data.Polarity=="Positive"].value_counts().tolist())
print(has_online[data.Polarity=="Negative"].value_counts().keys().tolist())
print(has_online[data.Polarity=="Negative"].value_counts().tolist())

TypeError: unhashable type: 'Series'

In [ ]:
data.Polarity[has_online].isnull().sum()

In [ ]:
res = pd.DataFrame(data[has_online])
res.groupby(['Polarity']).size()

In [47]:
data.Polarity.isin(has_online)

0       False
1       False
2       False
3       False
4       False
        ...
2241    False
2242    False
2243    False
2244    False
2245    False
Name: Polarity, Length: 2246, dtype: bool

In [ ]:
res = pd.DataFrame(data[has_online])

print(res["Polarity"].value_counts().keys().tolist())
print(res["Polarity"].value_counts().tolist())

In [ ]:
data[has_online].Polarity.value_counts().tolist()

true_count = (data[has_online].Polarity).value_counts()[True]
#False_count = (data[has_online].Polarity).value_counts()[False]

In [ ]:
starts_with_My = data["Message"].str.lower().str.startswith("My")
starts_with_My

In [ ]:
res = pd.DataFrame(data[has_online])

In [ ]:
res['Polarity'].value_counts().tolist()

#.reindex(new_index, fill_value=0)

In [ ]:
res['Polarity'].value_counts().to_frame()

In [ ]:
classes = res['Polarity'].value_counts().keys().tolist()

In [ ]:
term1 = res['Polarity'].value_counts().tolist()

In [ ]:
import pandas as pd

filter_values = [0, 10, 20, 30]  # Bucket Values for pd.cut

#Sample Times
df1 = pd.DataFrame([1, 3, 8, 20], columns  = ['filtercol'])

#Use cut to get counts for each bucket
out = pd.cut(df1.filtercol, bins = filter_values)
counts = pd.value_counts(out)
print counts
-------------
pd.value_counts(out).reindex(out.levels, fill_value=0)

In [ ]:
term1

In [ ]:
classes

# Splitting String

In [48]:
data

,Timestamp,Polarity,Message,StripMessage,UpperMessage
0,26/07/2021 14:20:57,Negative,"My experience in online class, so far it was a...","My experience in online class, so far it was a...","MY EXPERIENCE IN ONLINE CLASS, SO FAR IT WAS A..."
1,26/07/2021 14:34:07,Negative,"My online enrollmet experience was not easy, b...","My online enrollmet experience was not easy, b...","MY ONLINE ENROLLMET EXPERIENCE WAS NOT EASY, B..."
2,26/07/2021 15:43:26,Negative,My online enrollment experience was slightly h...,My online enrollment experience was slightly h...,MY ONLINE ENROLLMENT EXPERIENCE WAS SLIGHTLY H...
3,26/07/2021 16:09:39,Negative,This question seems vague to me. Online enroll...,This question seems vague to me. Online enroll...,THIS QUESTION SEEMS VAGUE TO ME. ONLINE ENROLL...
4,26/07/2021 23:12:21,Negative,Not easy to find a connection to answer the qu...,Not easy to find a connection to answer the qu...,NOT EASY TO FIND A CONNECTION TO ANSWER THE QU...
...,...,...,...,...,...
2241,29/07/2021 22:46:10,Positive,It can helps us to study more to understand ou...,It can helps us to study more to understand ou...,IT CAN HELPS US TO STUDY MORE TO UNDERSTAND OU...
2242,30/07/2021 15:16:13,Positive,It was okay,It was okay,IT WAS OKAY
2243,1/8/2021 14:30,Positive,Teachers in google class are approachable so I...,Teachers in google class are approachable so I...,TEACHERS IN GOOGLE CLASS ARE APPROACHABLE SO I...
2244,29/07/2021 08:11:49,Positive,The online class is help to us not exposed in ...,The online class is help to us not exposed in ...,THE ONLINE CLASS IS HELP TO US NOT EXPOSED IN ...
2245,29/07/2021 16:56:30,Positive,So hard but amazing,So hard but amazing,SO HARD BUT AMAZING

In [53]:
data['Timestamp'].str.split(" ")

0       [26/07/2021, 14:20:57]
1       [26/07/2021, 14:34:07]
2       [26/07/2021, 15:43:26]
3       [26/07/2021, 16:09:39]
4       [26/07/2021, 23:12:21]
                 ...
2241    [29/07/2021, 22:46:10]
2242    [30/07/2021, 15:16:13]
2243         [1/8/2021, 14:30]
2244    [29/07/2021, 08:11:49]
2245    [29/07/2021, 16:56:30]
Name: Timestamp, Length: 2246, dtype: object

In [59]:
data["TimestampTime"]=data['Timestamp'].str.split(" ").str.get(1)
data

,Timestamp,Polarity,Message,TimestampTime
0,26/07/2021 14:20:57,Negative,"My experience in online class, so far it was a...",14:20:57
1,26/07/2021 14:34:07,Negative,"My online enrollmet experience was not easy, b...",14:34:07
2,26/07/2021 15:43:26,Negative,My online enrollment experience was slightly h...,15:43:26
3,26/07/2021 16:09:39,Negative,This question seems vague to me. Online enroll...,16:09:39
4,26/07/2021 23:12:21,Negative,Not easy to find a connection to answer the qu...,23:12:21
...,...,...,...,...
2241,29/07/2021 22:46:10,Positive,It can helps us to study more to understand ou...,22:46:10
2242,30/07/2021 15:16:13,Positive,It was okay,15:16:13
2243,1/8/2021 14:30,Positive,Teachers in google class are approachable so I...,14:30
2244,29/07/2021 08:11:49,Positive,The online class is help to us not exposed in ...,08:11:49
2245,29/07/2021 16:56:30,Positive,So hard but amazing,16:56:30

In [60]:
data['TimestampTime'].str.split(":").str.get(1)

0       20
1       34
2       43
3       09
4       12
        ..
2241    46
2242    16
2243    30
2244    11
2245    56
Name: TimestampTime, Length: 2246, dtype: object

In [ ]:
data['Timestamp'].str.split(" ", expand=True)

In [ ]:
data[['Date','Time']] = data['Timestamp'].str.split(" ", expand=True)

In [52]:
data

,Timestamp,Polarity,Message
0,26/07/2021 14:20:57,Negative,"My experience in online class, so far it was a..."
1,26/07/2021 14:34:07,Negative,"My online enrollmet experience was not easy, b..."
2,26/07/2021 15:43:26,Negative,My online enrollment experience was slightly h...
3,26/07/2021 16:09:39,Negative,This question seems vague to me. Online enroll...
4,26/07/2021 23:12:21,Negative,Not easy to find a connection to answer the qu...
...,...,...,...
2241,29/07/2021 22:46:10,Positive,It can helps us to study more to understand ou...
2242,30/07/2021 15:16:13,Positive,It was okay
2243,1/8/2021 14:30,Positive,Teachers in google class are approachable so I...
2244,29/07/2021 08:11:49,Positive,The online class is help to us not exposed in ...
2245,29/07/2021 16:56:30,Positive,So hard but amazing

In [51]:
del data['UpperMessage']

# sampling code

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer()
vect.fit(data['Message'])
X = vect.transform(data['Message'])
features = vect.get_feature_names()

In [ ]:
limit = 10
dft = {}
for indx, feature in enumerate(features):
    has_term = data["Message"].str.lower().str.contains(feature)
    res = pd.DataFrame(data[has_term])
    
    classes = res['Polarity'].value_counts().keys().tolist()
    term1 = res['Polarity'].value_counts(dropna=False).tolist()
   
    
    dft[feature] = classes +  term1           
    if indx == limit:
        break
dft

In [ ]:
limit = 10
dft = {}
temp = []
for indx, feature in enumerate(features):
    has_term = data["Message"].str.lower().str.contains(feature)
    res = pd.DataFrame(data[has_term])
    
    classes = res['Polarity'].value_counts().keys().tolist()
    term1 = res['Polarity'].value_counts().tolist()
    for c in classes:
        for v in term1:
            temp = {c:v}
                    
    if indx == limit:
        break
dft

In [ ]:
#pd.DataFrame.from_dict(dft, orient='columns').T

In [ ]:
Dict = { }
print("Initial nested dictionary:-")

In [ ]:
print(Dict)

In [ ]:
Dict['Dict1'] = {}

In [ ]:
Dict['Dict1']['name'] = 'Bob'

In [ ]:
Dict

In [ ]:
data['result']

In [ ]:
data['Message'].shape

# Splitting String